body {
    font-family: 'Montserrat', sans-serif;    
}

/* ----------------------CONTAINERS */
.container-hero-header {
    height: 100vh;
    background: no-repeat center center;
    background: url('../images/header-image.jpg ') no-repeat bottom right scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Jost', sans-serif;
}

.container-concept {
    background: #0c0c0c;
}

/* ----------------------HERO HEADER */
.hero-header-title h1 {
    color: #ada719;
    font-size: 10vw;
    text-shadow: 5px 5px 5px #000000;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.hero-header-title h2 {
    color: #ada719;
    font-size: 3vh;
    text-shadow: 5px 5px 5px #000000;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.hero-header-title{
    animation-name: hero-title-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes hero-title-zoom {
    from{ 
        transform: scale(1);
        opacity: 0.1;
    }
    to{
        transform: scale(1.1);
        opacity: 1;
    }
}

#learn-more {
    color: #ada719;
    font-size: 2.5vh;
    text-shadow: 5px 5px 5px #000000;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(12, 12, 12, 0), rgba(12, 12, 12, 0.95));
    width: 100%;
    height: 30%;
    font-family: 'Orbitron', sans-serif;
}

#learn-more p {
    position: relative;
    top: 20%;
}


#learn-more a {
    color: #ada719;
    text-decoration: none;
}

i {
    font-size:40px;
    vertical-align: middle;
    padding: 0 7px;
}
/* ///-------------------HERO HEADER */