body {
    font-family: 'Montserrat', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar{
    display: none;
}

/* ----------------------CONTAINERS */
.container-hero-header, .container-get-in-touch {
    height: 100vh;
    background: no-repeat center center;
    background: url('../images/header-image.jpg ') no-repeat bottom right scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Jost', sans-serif;
}

.container-concept {
    background: #0c0c0c;
}

.container-projects {
    background: no-repeat center center;
    background: url('../images/header-image-3.jpg ') no-repeat bottom right scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-team {
    background: no-repeat center center;
    background: url('../images/header-image-2.jpg ') no-repeat bottom right scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* ----------------------HERO HEADER */
.hero-header-title h1 {
    color: #ada719;
    font-size: 10vw;
    text-shadow: 5px 5px 5px #000000;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.hero-header-title h2 {
    color: #ada719;
    font-size: 3vh;
    text-shadow: 5px 5px 5px #000000;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.hero-header-title{
    animation-name: hero-title-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes hero-title-zoom {
    from{ 
        transform: scale(1);
        opacity: 0.1;
    }
    to{
        transform: scale(1.1);
        opacity: 1;
    }
}

#learn-more {
    color: #ada719;
    font-size: 2.5vh;
    text-shadow: 5px 5px 5px #000000;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(12, 12, 12, 0), rgba(12, 12, 12, 0.95));
    width: 100%;
    height: 30%;
    font-family: 'Orbitron', sans-serif;
}

#learn-more p {
    position: relative;
    top: 20%;
}


#learn-more a {
    color: #ada719;
    text-decoration: none;
}

i {
    font-size:40px;
    vertical-align: middle;
    padding: 0 7px;
}
/* ///-------------------HERO HEADER */

/* ----------------------NAVBAR */
#navbar-brand-title {
    padding-left: 10px;
    color: #ada719;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
}

.navbar {
    background-color:  rgba(12, 12, 12, 0.6);
}

.nav-link {
    color: #ada719;
    font-weight: 600;
}

.navbar-toggler i {
    color: #ada719;
    font-size: x-large;
}

.active, .nav-item:hover {
    text-decoration: underline;
}

a:hover {
    color:#ada719;
}
/* ///-------------------NAVBAR */

/* ----------------------SECTION TITLES */
.section-title {
    text-align: center;
    color: #ada719; 
    font-family: 'Orbitron', sans-serif; 
}

.section-title h2 {
    font-size: 42px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;  
}

#section-title-concept {
    padding-top: 5%;
}

#section-title-projects {
    background: linear-gradient(rgba(12, 12, 12, 1), rgba(12, 12, 12, 0));
    color: #ada719;
    padding-top: 5%;
}
#section-title-team {
    background: radial-gradient(rgba(173, 167, 25, 0.8), rgba(173, 167, 25, 0));
    color: #0c0c0c;
    padding-top: 5%;
    padding-bottom: 2%;
}
/* ///-------------------SECTION TITLES */

/* ----------------------CONCEPT SECTION */
.concept-block h3{
    color: #ada719;
    font-size: 24px;
    margin: 0 12px;
    padding: 5% 0 2%;
    font-family: 'Orbitron', sans-serif;
}

.concept-block p{
    color: white;
    font-size: 14px;
    margin: 0 12px 9px;
    padding-top: 9px;
    text-align: justify;
}

.concept-card {
    background: linear-gradient(135deg, rgba(12, 12, 12, 0.6), rgba(255, 255, 255, 0.1));
    margin: 15px auto;
    border-radius: 5%;
    border-right: 2px inset;
    border-bottom: 2px inset;
    border-color: rgba(173, 167, 25, 0.4);
}

.concept-card hr {
    margin: 0 0 3% 0;
    color: #ada719;  
}

.concept-card img {
    height: auto;
    width: 95%;
    display: block;
    margin: auto;
    border: 3px solid #0c0c0c;
    border-radius: 5%;
}

#graph-card {
    background: none;
    border: none;
    text-align: center;

}

#graph {
    width: 100%;
    height: auto;
}
/* ///-------------------CONCEPT SECTION */

/* ----------------------PROJECTS SECTION */

video {
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    border: #ada719 2px solid;
    border-radius: 5%;
    
}

@media screen and (max-width: 768px) {
    video {
        width: 100%;
        margin-left: 0;
    }
}

.video-section {
    padding-bottom: 10%;
}

/* ///-------------------PROJECTS SECTION */

/* ----------------------TEAM SECTION */
.team-member-card {
    background: linear-gradient(135deg, rgba(12, 12, 12, 0.7), rgba(12, 12, 12, 0.9));
    box-shadow: 0 2px 4px 0 white;
    margin: 10px 0;
    min-height: 120px;
    color: white;
    border-radius: 7%;
}

.team-member-card p{
    margin-right: 5%;
    margin-left: 5%;
}

.team-member-card h4 {
    padding: 5% 5% 0;
    font-family: 'Orbitron', sans-serif;
}

.team-member-card h6 {
    padding-left: 5%;
    color: #ada719;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
}

.img-fluid {
    max-width: 90%;
    position: relative;
    left: 5%;
    padding: 15px 0;
    height: 215px;
    width: 245px;
}

.team-member-card hr {
    margin: 0;
    width: 80%;
    position: relative;
    left: 10%;
}

/* ///-------------------TEAM CARDS */

/* ----------------------TEAM BUTTONS */
.btn-primary {
    background: no-repeat center center;
    background: url('../images/header-image-3.jpg ') no-repeat bottom right scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ada719;
    border-color: #000;
}

#team-buttons a {
    color: #ada719;
    text-decoration: none;
}

#team-buttons {
    color: #0c0c0c;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* ///-------------------TEAM BUTTONS */

/* ----------------------FOOTER SECTION */
footer {
    background: no-repeat center center;
    background: url('../images/header-image-3.jpg ') no-repeat bottom right scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ada719;
    min-height: 60px;
    padding-top: 3%;
}

footer h5 {
    padding: 10px 0;
    margin: 0;
}

footer p {
    margin: 0;
    font-size: 12px;
}

footer i{
    font-size: 16px;
    padding-left: 0;
}

.social-links {
    font-size: 25px;
    color: #00413F;
}

.social-links a {
    color: #ada719;
}

.copyright {
    margin: 10px 0;
}

#phone-number {
    color: #ada719
}
/* ///-------------------FOOTER SECTION */

/* ----------------------GET IN TOUCH SECTION */
.get-in-touch{
    color: #ada719;
    font-size: 180%;
    text-shadow: 5px 5px 5px #000000;
    text-align: center;
    font-family: 'Orbitron', sans-serif; 
    background: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
    margin-top: 15%;
}

.form-control {
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    border: 1px solid #ada719;
}

.submit-button {
    background: no-repeat center center;
    background: url('../images/header-image-2.jpg ') no-repeat bottom right scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #000000;
    border: 1px solid #000000;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}
/* ///-------------------GET IN TOUCH SECTION */